.giftbox_div
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    width: fit-content;
    overflow-x: hidden;

}
.div_img{
    text-align: center;
    width: 100%;
    
}

.clickhere img{
    position: absolute;
    bottom:0;
    float:right;
    width: 10vw;
}

@media screen and (max-width:576px)
{
    .div_img{
        margin-top:5px;
        padding: 10px;
    }
    .clickhere img{
        position: relative;
        
        left:20%;
        float: left;
        width: 10vw;
    }
    .giftbox_div{
        width: 70%;
    }
}